<% var item, key %><%
htmlWebpackPlugin.options.appMountIds = htmlWebpackPlugin.options.appMountIds || [] %><%
htmlWebpackPlugin.options.lang = htmlWebpackPlugin.options.lang || "en" %><%
htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %><%
htmlWebpackPlugin.options.meta = htmlWebpackPlugin.options.meta || [] %><%
htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || []
%>
<!doctype html>
<html lang="EN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Shale Research Clearinghouse</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.16/iframeResizer.contentWindow.js"></script>
        <link rel="stylesheet" href="https://use.typekit.net/oxc7jph.css" /> 
        <link rel="stylesheet" type="text/css" href="http://www.rff.org/modules/system/system.base.css" />
        <link rel="stylesheet" type="text/css" href="http://www.rff.org/sites/all/themes/rff_theme/css/styles.css" /><%
        for (key in htmlWebpackPlugin.files.css) { %><%
          if (htmlWebpackPlugin.files.cssIntegrity) { %>
        <link
          href="<%= htmlWebpackPlugin.files.css[key] %>"
          rel="stylesheet"
          integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
          crossorigin="<%= webpackConfig.output.crossOriginLoading %>" /><%
          } else { %>
        <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><%
          } %><%
    } %>
        <script type="text/javascript">
            (function() {
                var trial = document.createElement('script');
                trial.type = 'text/javascript';
                trial.async = true;
                trial.src = 'https://easy.myfonts.net/v2/js?sid=135028(font-family=Trade+Gothic)&sid=218102(font-family=Trade+Gothic+Pro+Light)&sid=218103(font-family=Trade+Gothic+Pro+Roman)&sid=218104(font-family=Trade+Gothic+Pro+Bold)&key=wV0rVBuwME';
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(trial);
            })();
</script>
    </head>
    <body>
        <div class="container"> 
            <div class="l-1up">
                <h1>Shale Research Clearinghouse</h1>
            </div>
            <div class="l-66-33--1">
                <noscript>This page requires javascript; please enable it.</noscript>
                <p>The Shale Research Clearinghouse (SHARC) is a publicly accessible, curated repository for information on the economic, health, and environmental impacts of oil and gas development.</p>              
                <h2>Browse by topic</h2>
                <div id="browse-buttons">
                </div>
            </div>
            <div class="l-66-33--2">
            </div>
        </div>
        <div class="container"> 
            <div class="l-66-33--1">
                <div id="synthesis-results">
                    <ul class="flex space-between"></ul>
                </div>
                <div id="results">
                    <ul class="load"></ul>
                </div>
            </div>
        </div>
        <script>
            function isInIframe() { // ht: https://stackoverflow.com/a/326076
                try {
                    return window.self !== window.top;
                } catch (e) {
                    return true;
                }
            }
            if ( isInIframe() ){
                console.log(this.parent.parentVar); // testing access to parent window variables
            }
        </script><%

            if (htmlWebpackPlugin.options.window) { %>
            <script type="text/javascript"><%
              for (key in htmlWebpackPlugin.options.window) { %>
              window['<%= key %>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[key]) %>;<%
              } %>
            </script><%
            } %><%

            if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
            <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %><%
            } %><%

            for (item of htmlWebpackPlugin.options.scripts) { %><%
              if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
            <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script><%
            } %><%

            for (key in htmlWebpackPlugin.files.chunks) { %><%
              if (htmlWebpackPlugin.files.jsIntegrity) { %>
            <script
              src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
              type="text/javascript"
              integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
              crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script><%
              } else { %>
            <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script><%
              } %><%
            } %><%

            if (htmlWebpackPlugin.options.devServer) { %>
            <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script><%
            } %>
    </body>
</html>